.edit-container {
  height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../../images//edit-2.jpg');
	background-size: cover;
	background-repeat: none;
}

.edit-form {
  background-color: #ffffff;
  height: 80%;
  width: 80%;
  border-radius: 10px;
  display: flex;
}


.edit-form-left {
  width: 30%;
  height: 100%;
  border-right: 1px solid #000;
}

.edit-form-left .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form-left input {
  background-color: #ffffff !important;
}

.user-avatar {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.user-avatar .image  {
  height: 128px;
  width: 128px;
  border-radius: 50%;
}

.edit-form-right {
  width: 70%;
  height: 100%;
}

.progress-bar {
  display: none !important;
  background-color: #ffffff !important;
}

.edit-button {
  margin-left: 50%;
}
